@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

.AFBrandingBarTitle, .xdi {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
}